{{!-- Add Recipes Starts here:  --}}
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                      <h1 class="heading"><span>  Add your Recipes Here! </span></h1>
                    </div>{{!-- block close --}}
                </div>{{!-- col close --}}
            </div>{{!-- .row close --}}
        </div>{{!-- .container close --}}
    </section>{{!-- slider close --}}
{{!-- Add Recipes ends here:  --}} 