<div class="container">
  <div class="containerTitle">
    <h2>Find a Recipe!</h2>
  </div>
  <form class="create-update-form" action="findrecipe/find" method="POST">
    <div class="container">
      Would you like anything particular in your meal?<br><input type="text" id="searchIngredient" name="searchTerm"><br>
        
        <label for="vegan">Vegan?</label>
        <input type="radio" name="vegan" value="1">Yes
        <input type="radio" name="vegan" value="0">No<br>

        <label for="gluten">Gluten Free?</label>
        <input type="radio" name="gluten" value="1">Yes
        <input type="radio" name="gluten" value="0">No<br>

        <label for="vegetarian">Vegetarian?</label>
        <input type="radio" name="vegetarian" value="1">Yes
        <input type="radio" name="vegetarian" value="0">No<br>

      <button type="submit" value="Submit" id="findRecipe">Submit</button>
    </div>
  </form>
</div>
<div class="container">
    <h3>Your ingredients</h3>
    {{#each ingredient}}
        {{#if this.inPantry}}
            <ul>
                <div class="pantryList sameLine">
                    <span>{{this.id.recipeTitle}}.&nbsp;</span>
                </div>
            </ul>
        {{/if}}
    {{/each}}
</div>
<div class="container">
<h2>Recipes you should try:</h2>
  {{#each recipe}}
    {{#if this.makeIt}}
      <ul>
        <div class="recipeList sameLine">
          <span>{{this.id.recipeTitle}}.&nbsp;</span>
        </div>
      </ul>
    {{/if}}
  {{/each}}
</div>