
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                      <h1 class="heading"><span> Add Your Ingredients Here! </span></h1>
                            <div class="container addIngredients">
                              <div class="containerTitle">
                                <h2>Ingredients that you have!</h2>
                              </div>
                              <ul class="ingredientContainer">
                                {{#each ingredients}}
                                 {{#unless this.inpantry}}
                                    <ul>
                                      <div class="ingredientName sameLine">
                                      <span>{{this.id}}.&nbsp;</span>
                                      {{this.ingredient_name}}
                                      </div>

                                      <form class="sameLine" action="ingredients/update/{{this.id}}?_method=PUT" method="POST">
                                       <input type="hidden" name="added" value="true">
                                        <button type="submit">Out of stock!</button>
                                      </form>

                                    </ul>
                                  {{/unless}}
                                {{/each}}
                              </ul>
                            </div>
                  </div><!-- block close -->
                </div><!-- col close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->
  <!-- Add Recipes ends here:  -->